$lightgrey: #eee;
@mixin greyBottomBorder {
    border-bottom: 1px solid rgba(0,0,0,.14);
}
.tree {
    
    > li {
        @include greyBottomBorder;
        color: #212121;
        label {
            padding: 16px;
            display: block;
            cursor: pointer;
            &:hover{
                background: $lightgrey;
            }
            
            &.disabled {
                &:hover {
                    background: none;
                }
            }
            &.active {
                background: $lightgrey;
                &:hover{
                    background: $lightgrey;
                }
            }
        }
    }
    .sub-tree {
        label {
            padding-left: 30px;
        }
        
    }
}
.add-action {
    
}
.search-container {
    padding: 15px;
    @include greyBottomBorder;
}