<button md-fab color="primary" [mdMenuTriggerFor]="menu"><md-icon>add</md-icon></button>
<md-menu #menu="mdMenu">
  <button md-menu-item (click)="onAddNewPass()">Password</button>
  <button md-menu-item (click)="onAddNewCat()">Category</button>
</md-menu>
<ul class="tree">
  <li *ngFor="let branch of tree">
    <label class="category">{{branch.name}} </label>
    <ul *ngIf="branch.passwords.length" class="sub-tree">
      <li *ngFor="let pass of branch.passwords">
        <label (click)="isEditing || onSelect(pass)" [class.active]="isActive(pass)" [class.disabled]="isEditing">{{pass.name}}</label>
      </li>
    </ul>
  </li>
</ul>
