$lightgrey: #eee;
.tree {
    
    > li {
        border-bottom: 1px solid rgba(0,0,0,.14);
        color: #212121;
        label {
            padding: 16px;
            display: block;
            cursor: pointer;
            &:hover{
                background: $lightgrey;
            }
            
            &.disabled {
                &:hover {
                    background: none;
                }
            }
            &.active {
                background: $lightgrey;
                &:hover{
                    background: $lightgrey;
                }
            }
        }
    }
    .sub-tree {
        label {
            padding-left: 30px;
        }
        
    }
}
.add-action {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: inline-block;
}