<md-card class="password-details" *ngIf="selectedPassword">
  <md-card-title>{{selectedPassword.name}}</md-card-title>
  <md-card-content class="clearfix">
    {{model}}
    <form #passwordForm (ngSubmit)="onSubmit()" novalidate>
      <div class="clearfix">
        <div class="col">
          <!-- Name -->
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="Name" name="name" [(ngModel)]="selectedPassword.name" tabindex="1" >
            </md-input-container>
          </div>

          <!-- Username -->
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="Username" name="username" [(ngModel)]="selectedPassword.username" tabindex="3">
            </md-input-container>
          </div>
          
          <!-- Notes -->
          <div class="form-group">
            <md-input-container>
              <textarea mdInput placeholder="Notes" name="notes" [(ngModel)]="selectedPassword.notes"></textarea>
            </md-input-container>
          </div>
        </div>

        <div class="col">
          <!-- Url -->
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="Url" name="url" [(ngModel)]="selectedPassword.url" tabindex="2" required>
            </md-input-container>
          </div>

          <!-- Password -->
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="Password" name="password" [(ngModel)]="selectedPassword.password" tabindex="4" required>
            </md-input-container>
          </div>
        </div>
      </div>
    </form>
  </md-card-content>
  <md-card-actions>
    <i class="material-icons md-48">edit</i>
    <button md-raised-button color="primary" (click)="onEdit()">Edit</button>
    <button md-raised-button (click)="onCancel()">Cancel</button>
  </md-card-actions>
</md-card>
