<md-card class="password-details" *ngIf="selectedPassword">
  <md-card-title>{{selectedPassword.name}}</md-card-title>
  <md-card-content>
    <form #passwordForm (ngSubmit)="onSubmit()" novalidate>
        <!-- Name -->

        <md-input-container>
          <input mdInput placeholder="Name" name="name" [(ngModel)]="selectedPassword.name">
        </md-input-container>
    </form>
  </md-card-content>
  <md-card-actions>
    <i class="material-icons md-48">edit</i>
    <button md-raised-button color="primary">Edit</button>
    <button md-raised-button >Cancel</button>
  </md-card-actions>
</md-card>
