<md-card class="password-details" *ngIf="selectedPassword">
  <md-card-title>{{selectedPassword.name}}</md-card-title>
  <form #passwordForm="ngForm">
  <md-card-content class="clearfix">
    {{model | json}}
    
      <div class="clearfix">
        <div class="col">
          <!-- Name -->
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="Name" name="name" tabindex="1" [(ngModel)]="selectedPassword.name" #name="ngModel" [disabled]="!isEditing" required>
            </md-input-container>
            <div class="error" *ngIf="name.errors && (name.dirty || name.touched)">Name is required</div>
          </div>

          <!-- Username -->
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="Username" name="username" [(ngModel)]="selectedPassword.username" #username="ngModel" [disabled]="!isEditing"  tabindex="3" required>
            </md-input-container>
            <div class="error" *ngIf="username.errors && (username.dirty || username.touched)">Username is required</div>
          </div>
          
          <!-- Notes -->
          <div class="form-group">
            <md-input-container>
              <textarea mdInput placeholder="Notes" name="notes" [(ngModel)]="selectedPassword.notes" #notes="ngModel" [disabled]="!isEditing" tabindex="5"></textarea>
            </md-input-container>
          </div>
        </div>

        <div class="col">
          <!-- Url -->
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="Url" name="url"  [(ngModel)]="selectedPassword.url" #url="ngModel" tabindex="2" [disabled]="!isEditing" required>
            </md-input-container>
            <div class="error" *ngIf="url.errors && (url.dirty || url.touched)">Url is required</div>
          </div>

          <!-- Password -->
          <div class="form-group">
            <md-input-container>
              <input mdInput placeholder="Password" name="password"  tabindex="4"  name="pass" #pass="ngModel" [(ngModel)]="selectedPassword.password" [disabled]="!isEditing" required />
            </md-input-container>
            <div class="error" *ngIf="pass.errors && (pass.dirty || pass.touched)">Password is required</div>
          </div>

          <!-- Password genrator -->
          <div *ngIf="isEditing" class="password-generator-container">
            <md-slide-toggle (change)="toggleGenerator($event)">Generate new Password?</md-slide-toggle>
            <div *ngIf="showGenerator"class="password-generator">
              <md-input-container class="new-pass-container">
                <input mdInput placeholder="Password" value="{{newPass}}">
              </md-input-container>
              <md-icon class="regenerate-password" color="primary" (click)="onGenerate()">refresh</md-icon>
              
              <md-input-container class="password-length-container">
                <input mdInput type="number" placeholder="Password Length" [(ngModel)]="passLength" name="passlength"   />
              </md-input-container>
              <button type="button" md-raised-button color="primary" (click)="chooseGenerated()">Use this</button>
            </div>
          </div>

          <!-- Category -->
          <div class="form-group">
            <md-select placeholder="Category" name="category" [(ngModel)]="selectedPassword.category" tabindex="6">
              <md-option *ngFor="let category of categories" [value]="category" >{{category.name}}</md-option>
            </md-select>
          </div>
        </div>
      </div>
    
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" type="button" (click)="onEdit()" *ngIf="!isEditing">Edit</button>
    <button md-raised-button color="primary" type="button" (click)="onSave()" *ngIf="isEditing" [disabled]="!passwordForm.form.valid"><i class="material-icons md-48">save</i> Save</button>
    <button md-raised-button type="button" (click)="onCancel()" *ngIf="isEditing">Cancel</button>
    <button md-raised-button color="warn" type="button" (click)="onDelete()" *ngIf="!isNew"><i class="material-icons md-48">delete</i>Delete</button>
  </md-card-actions>
  </form>
</md-card>
