md-sidenav-container {
    height: 100%;
    md-sidenav.md-sidenav-opened {
        box-shadow: none;
        background: white;
        width: 256px;
        border-right: 1px solid rgba(0,0,0,.14);
    }
}

main {
    height: 100%;
    .no-pass {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}