@import './app/styles/reset.css';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$passbook-app-primary: mat-palette($mat-teal);
$passbook-app-accent:  mat-palette($mat-deep-purple, A400, A100, A700);

// The warn palette is optional (defaults to red).
$passbook-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$passbook-app-theme: mat-light-theme($passbook-app-primary, $passbook-app-accent, $passbook-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($passbook-app-theme);

/*
spinner styles
*/
$offset: 187;
$duration: 1.4s;

.spinner {
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
    dash $duration ease-in-out infinite, 
    colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
    0% { stroke: #009688; }
    25% { stroke: #009688; }
    50% { stroke: #009688; }
    75% { stroke: #009688; }
  100% { stroke: #009688; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}